<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <%- include("header") %> <%- include("nav") %>

 <!-- contact us -->
 <div class="container-contact">
    <div class="one-container">
      <img src="images/LOGO.png" alt="logo" srcset="" class="contact-logo" />
      <div class="clg-name">
        <img src="images/building.svg" alt="clgName" />
        G-MART
      </div>
      <div class="address">
        42 Nebula Street, Celestial Square, Galaxy City 12345
      </div>
      <div class="phnoContainer">
        <img src="images/phone.svg" alt="phone" />
        <div class="phno">+123 456 7890 / +987 654 3210</div>
      </div>

      <div class="emailContainer">
        <img src="images/email.svg" alt="email" />
        <div class="email">info@starlightacademy.com</div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1CthYvk35CpUtJ5GLoPIQFjq_32U&hl=en_US&ehbc=2E312F" width="640" height="480"></iframe>
  </div>


    <%- include("footer") %>
  </body>
</html>
