<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer">
        <div class="footer-firstContainer">
          <h1>Quick links</h1>
          <a href="index.html">
            <div class="nav-item footer-item">Home</div>
          </a>
          <a href="Categories.html">
            <div class="nav-item footer-item">Categories</div>
          </a>
          <a href="contact.html">
            <div class="nav-item footer-item">Contact</div>
          </a>
          <a href="About.html">
            <div class="nav-item footer-item">About</div>
          </a>
        </div>
        <div class="footer-secondContainer">
          <div class="container-contact">
            <div class="one-container">
              <div class="clg-name">
                <img src="../images/building.svg" alt="clgName" class="building"/>
               G-MART
              </div>
              <div class="address">
                Ward No. 111, abc Nagar
                Bengaluru 560062
              </div>
              <div class="phnoContainer">
                <img src="../images/phone.svg" alt="phone" />
                <div class="phno">+919380443538/9108816166</div>
              </div>
              <div class="emailContainer">
                <img src="../images/email.svg" alt="email" />
                <div class="email">bbcbellary@gmail.com</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="footer-end">&copy;2023 G-MART</div>
</body>
</html>