<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-logo">
        <div class="real-logo">
          <img src="../images/LOGO.png" alt="logo" class="logo" />
        </div>
        <div class="social-media-box">
          <img src="../images/socials.png" alt="socials" class="socials-img">
          <div class="sign-box">
            <a href="/register" class="sign-in">Sign Up</a>
            <a href="/login" class="sign-in">Log in</a>
           <a href="/cart" > <img class="cart" src="../images/cart1.png" alt="cart"></a>
           <a href="/profile" ><img class="cart" src="../images/profile3.jpg" alt="profile"></a>
          </div>
        </div>
      </div>
      </div>
</body>
</html>