<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="container-nav">
          <a href="/">
            <div class="nav-item">Home</div>
          </a>
          <a href="/categories">
            <div class="nav-item">Categories</div>
          </a>
          <a href="/contact">
            <div class="nav-item">Contact</div>
          </a>
          <a href="/about">
            <div class="nav-item">About</div>
          </a>
        </div>
      </nav>
    
</body>
</html>