<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
    <h2 class="signup-heading">Sign up</h2>
    <div class="signup-header">
        <form method="post" id="registrationForm">
            <input type="text" placeholder="Name" name="name" required>
            
            <input type="email" placeholder="Email" name="username" id="email" required>
            
            <input type="password" placeholder="Password" name="password" id="password" required>
    
            <button type="submit" class="signup-btn">Register</button>
        </form>
    </div>

</body>
</html>